<!--
  ~ AWS JDBC Proxy Driver
  ~ Copyright Amazon.com Inc. or affiliates.
  ~ See the LICENSE file in the project root for more information.
  -->

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="org.testcontainers" level="ERROR"/>
  <logger name="com.github.dockerjava" level="ERROR"/>
</configuration>
