name: Qodana
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'releases/*'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**/release_draft.yml'
      - '**/maven*.yml'

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - name: 'Clone repository'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: 'Get changed files'
        uses: tj-actions/changed-files@cbda684547adc8c052d50711417fa61b428a9f88
        id: changed-files-specific
        with:
          files_yaml: |
            doc:
              - '**/*.md'
              - '**/docs/**'
              - '**/*.jpg'
              - '**/*.png'
      - name: 'Check changed files'
        id: changed-files
        if: ${{steps.changed-files-specific.outputs.doc_only_changed == 'false' && steps.changed-files-specific.outputs.doc_only_modified == 'false'}}
        run: echo "ONLY_DOCS=false" >> $GITHUB_OUTPUT
      - name: 'Qodana Scan'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false'}}
        uses: JetBrains/qodana-action@v2023.3.1
        with:
          use-caches: false
