name: Custom Driver-specific Qodana Scan
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'releases/*'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**/release_draft.yml'
      - '**/maven*.yml'
      - '**/*.md'

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2022.2.1
        with:
          args: --profile-path,.github/workflows/qodana_inspection_profile.xml
