name: Main CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**/release_draft.yml'
      - '**/maven*.yml'
      - '**/*.md'
      - 'docs/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-driver:
    name: 'Run non-container integration tests'
    concurrency: Non-IntegrationTests
    runs-on: ubuntu-latest
    steps:
      - name: 'Clone repository'
        uses: actions/checkout@v2

      - name: 'Set up JDK 8'
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: 'Run all checks'
        run: ./gradlew check

      - name: 'Generate code coverage report'
        run: ./gradlew jacocoTestReport

      - name: 'Archive test results'
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: 'junit-report'
          path: ./wrapper/build/reports/tests/test/
          retention-days: 3
