name: Main CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**/release_draft.yml'
      - '**/maven*.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-driver:
    name: 'Run non-container integration tests'
    concurrency: Non-IntegrationTests
    runs-on: ubuntu-latest
    steps:
      - name: 'Clone repository'
        uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - name: 'Get changed files'
        id: changed-files-specific
        uses: tj-actions/changed-files@v41
        with:
          files_yaml: |
            doc:
              - '**/*.md'
              - '**/docs/**'
              - '**/*.jpg'
              - '**/*.png'
      - name: 'Check changed files'
        id: changed-files
        if: ${{steps.changed-files-specific.outputs.doc_only_changed == 'false' && steps.changed-files-specific.outputs.doc_only_modified == 'false'}}
        run: echo "ONLY_DOCS=false" >> $GITHUB_OUTPUT
      - name: 'Set up JDK 8'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false'}}
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 8
      - name: 'Run all checks'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false'}}
        run: |
          echo ${{steps.changed-files.outputs.ONLY_DOCS}}
          ./gradlew check
      - name: 'Generate code coverage report'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false'}}
        run: ./gradlew jacocoTestReport
      - name: 'Archive test results'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false'}}
        uses: actions/upload-artifact@v4
        with:
          name: 'junit-report'
          path: ./wrapper/build/reports/tests/test/
          retention-days: 3
