name: Run Aurora Integration Tests Default

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - fix/multiaz-cluster-creation

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  all-integration-tests-default:
    name: 'Run Aurora integration tests with default engine version'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dbEngine: [ "mysql-multi-az", "pg-multi-az" ]
    steps:
      - name: 'Clone repository'
        uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - name: 'Set up JDK 8'
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 8
      - name: 'Configure AWS credentials'
        id: creds
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          role-session-name: run_integration_test_default
          role-duration-seconds: 21600
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
          output-credentials: true
      - name: Run integration tests
        run: |
          ./gradlew --no-parallel --no-daemon test-all-${{ matrix.dbEngine }}
        env:
          AURORA_CLUSTER_DOMAIN: ${{ secrets.DB_CONN_SUFFIX }}
          RDS_DB_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_ACCESS_KEY_ID: ${{ steps.creds.outputs.aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.creds.outputs.aws-secret-access-key }}
          AWS_SESSION_TOKEN: ${{ steps.creds.outputs.aws-session-token }}
          MYSQL_VERSION: "default"
          PG_VERSION: "default"
      - name: Mask data
        run: |
          ./gradlew --no-parallel --no-daemon maskJunitHtmlReport
      - name: Archive junit results for ${{ matrix.dbEngine }}
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-report-default-${{ matrix.dbEngine }}
          path: ./wrapper/build/test-results
          retention-days: 5
      - name: Archive html summary report for ${{ matrix.dbEngine }}
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: html-summary-report-default-${{ matrix.dbEngine }}
          path: ./wrapper/build/report
          retention-days: 5
