name: Run Hibernate ORM integration tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**/release_draft.yml'
      - '**/maven*.yml'

jobs:
  hibernate-integration-tests:
    name: 'Run Hibernate ORM integration tests'
    runs-on: ubuntu-latest
    steps:
      - name: 'Clone repository'
        uses: actions/checkout@v3
        with:
          fetch-depth: 50
      - name: 'Set up JDK 8'
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 8
      - name: 'Run Hibernate ORM integration tests'
        run: |
          ./gradlew --no-parallel --no-daemon test-hibernate-only
      - name: 'Archive junit results'
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: junit-report
          path: ./wrapper/build/test-results
          retention-days: 5
      - name: 'Archive html summary report'
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: html-summary-report
          path: ./wrapper/build/report
          retention-days: 5
