name: Run Standard Integration Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - main-2.x
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**/release_draft.yml'
      - '**/maven*.yml'

permissions:
  contents: read

jobs:
  standard-integration-tests:
    name: 'Run standard container integration tests'
    runs-on: ubuntu-latest
    steps:
      - name: 'Clone repository'
        uses: actions/checkout@v6
        with:
          fetch-depth: 50
      - name: 'Get changed files'
        id: changed-files-specific
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62  # v47.0.1
        with:
          files_yaml: |
            doc:
              - '**/*.md'
              - '**/docs/**'
              - '**/*.jpg'
              - '**/*.png'
      - name: 'Check changed files'
        id: changed-files
        if: ${{steps.changed-files-specific.outputs.doc_only_changed == 'false' && steps.changed-files-specific.outputs.doc_only_modified == 'false'}}
        run: echo "ONLY_DOCS=false" >> $GITHUB_OUTPUT
      - name: 'Set up JDK 8'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false'}}
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: 8
      - name: 'Run standard integration tests'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false'}}
        run: |
          ./gradlew --no-parallel --no-daemon test-all-docker
      - name: Mask data
        run: |
          ./gradlew --no-parallel --no-daemon maskJunitHtmlReport
      - name: 'Archive junit results'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false' && !cancelled()}}
        uses: actions/upload-artifact@v6
        with:
          name: junit-report
          path: ./wrapper/build/test-results
          retention-days: 5
      - name: 'Archive html summary report'
        if: ${{steps.changed-files.outputs.ONLY_DOCS && steps.changed-files.outputs.ONLY_DOCS == 'false' && !cancelled()}}
        uses: actions/upload-artifact@v6
        with:
          name: html-summary-report
          path: ./wrapper/build/report
          retention-days: 5
